<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

{% extends 'portfolio/base.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <br>
    <label class="mt-5" for="bloglink">Copy link of the blog you want to post</label>
    <div class="form-group input-group">
         <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-link"></i></span>
        </div>
        <input type="url" name="url" class="form-control" id="url" placeholder="Help provide good content for readers">
    </div>

    <button type="submit" class="btn btn-primary">Post</button>
</form>



<div class="row justify-content-center mt-3">
<div class="col-md-9 text-center">

    {% for b_obj in blog_obj%}
    <div class="mb-0">
        <h6 id="blogurl" class="normal"> <a class="nav-link" href="{{ b_obj.url}}">
         <div class="bg-light border-bottom border-info rounded">
        {% if b_obj.url %}
        {{ b_obj.url}}
        {% endif %}
         </div>
        </a> </h6></div>
    {% endfor %}
</div>
</div>


{% endblock %}